[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
django = "*"
django-debug-toolbar = "*"
django-allauth = "*"
python-decouple = "*"
whitenoise = "*"
dj-database-url = "*"
psycopg2-binary = "*"
gunicorn = "*"
stripe = "*"
flake8 = "*"
isort = "*"
django-csp = "*"

[dev-packages]
