[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
django = "*"
django-debug-toolbar = "*"
django-allauth = "*"
python-decouple = "*"
whitenoise = "*"

[dev-packages]
